@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

.font-outfit {
  font-family: Outfit;
}
.side-bar-Link:hover svg {
  stroke: white;
  /* fill: white; */
}
.active-Link svg {
  stroke: white;
  /* fill: white; */
}
.side-bar-Link:hover svg path {
  stroke: white;
  /* fill: white; */
}
.active-Link svg path {
  stroke: white;
  /* fill: white; */
}
.mantine-datatable-table tbody {
  background-color: White;
  font-family: Outfit;
}
.mantine-Table-th {
  background-color: #e5e7e7 !important;
  font-family: Outfit !important;
  color: #1d1d1f !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.mantine-Drawer-body {
  padding: 0 !important;
}

.mantine-Tabs-list {
  padding-bottom: 10px;
  flex-wrap: nowrap !important;
  overflow: auto !important;
}
.mantine-Tabs-list::-webkit-scrollbar-thumb {
  background-color: #646464 !important;
  border-radius: 10px;
}
.mantine-Tabs-list::-webkit-scrollbar {
  height: 8px;
  border-radius: 10px;
  background-color: #f1f1f1 !important;
}

.profile::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: red;
  z-index: 99999;
  bottom: -10px;
}

/* .leaflet-popup-content {
  margin: 10px !important;
} */

.mantine-Tooltip-tooltip {
  z-index: 9999 !important;
}
